

.spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: #2563eb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.ticket-inativo {
    background-color: #fdfdfd;
    opacity: 0.7;
    cursor: pointer;
}
.ticket-inativo:hover {
    background-color: #f3f4f6; 
}